// Variable overrides
 
// Include Sencha Touch styles
@import 'sencha-touch/default/all';
@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
//@include sencha-picker;
//@include sencha-toolbar-forms;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-carousel;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-form;
//@include sencha-loading-spinner;

@include pictos-iconmask('calendar2');
@include pictos-iconmask('calendar_add');
 
// Define custom styles
a {
	text-decoration: none;
	color: #fff;
}

h2 {
	font-size: 1.3em;
	margin-top: 10px;
}

.description {
	padding: 5%;
}