// Variable overrides
$lightGrey: #999;

// Include Sencha Touch styles
@import 'sencha-touch/default/all';
@include sencha-panel;
@include sencha-buttons;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-list;
@include sencha-layout;
@include pictos-iconmask('calendar2');
@include pictos-iconmask('calendar_add');
 
// Define custom styles

h2 {
	font-size: 1.3em;
	margin-top: 10px;
}

.description {
	padding: 5%;
}

.emptyText {
    text-align: center;
    color: $lightGrey;
}

.itineraryList {
	background: #eee;
}

.metadata:before{
	content: 'Location: ';
}

.metadata {
	font-size: 80%;
	color: $lightGrey;
}