<?xml version="1.0" encoding="utf-8"?>
<events>
	<category name="Opening">
		<event>
			<name>Start Your Festival</name>
			<description>1000 Press Conference 1200 Opening Campus Exhibitions 1345 Opening ROBOT-ISM/ Japan Media Arts Festival 1430 Worldpremiere of Ralf Schmerbergs new movie  1600 Opening CyberArts 2010 Exhibition 1730 Opening Sound Space 1900 Repair Choir Main Square</description>
			<time-start>1000</time-start>
			<time-finish>1900</time-finish>
			<date>9</date>
			<location>Hauptplatz, Tabakfabrik Linz</location>
			<id>101</id>
		</event>
		<event>
			<name>Frozen Music</name>
			<description>That music and architecture have much in common was recognized by the great German writer Johann Wolfgang von Goethe and philosophers Arthur Schopenhauer and Friedrich Wilhelm Schelling, who called architecture silent, solidified or frozen music. 'Frozen Music' is the title of the event that kicks off this year’s Ars Electronica Festival and also marks the official reopening of Linz’s Tabakfabrik. This venue, a former tobacco processing plant that’s been closed since September 2009, is one of Austria’s most significant industrial landmarks. Artistic interventions, performances and sound and light shows staged in the facility’s inner courtyard will throw open imaginary doors and windows, and transport audience members deeper and deeper inside—into a world in which productivity is seemingly paralyzed but can still be perceived with all the senses.</description>
			<time-start>2030</time-start>
			<time-finish>2300</time-finish>
			<date>9</date>
			<location>Tabakfabrik Linz</location>
			<id>102</id>
		</event>
	</category>
	<category name="Repair the Environment">
		<event>
			<name>Frozen Music</name>
			<description>That music and architecture have much in common was recognized by the great German writer Johann Wolfgang von Goethe and philosophers Arthur Schopenhauer and Friedrich Wilhelm Schelling, who called architecture silent, solidified or frozen music. “Frozen Music” is the title of the event that kicks off this year’s Ars Electronica Festival and also marks the official reopening of Linz’s Tabakfabrik. This venue, a former tobacco processing plant that’s been closed since September 2009, is one of Austria’s most significant industrial landmarks. Artistic interventions, performances and sound and light shows staged in the facility’s inner courtyard will throw open imaginary doors and windows, and transport audience members deeper and deeper inside—into a world in which productivity is seemingly paralyzed but can still be perceived with all the senses.</description>
			<time-start>2030</time-start>
			<time-finish>2300</time-finish>
			<date>9</date>
			<location>Tabakfabrik Linz</location>
			<id>103</id>
		</event>
		<event>
			<name>Making a Difference</name>
			<description>repair: it‘s all about attitude, about taking up the responsibility and starting to change the things.</description>
			<time-start>1030</time-start>
			<time-finish>1230</time-finish>
			<date>3</date>
			<location>Bau 2 EG</location>
			<id>104</id>
		</event>
		<event>
			<name>Was Menschen bewegt</name>
			<description>Mobility is the essence of a globalized society—its basic requirement, the key to competitiveness, and a cause of environmental pollution. This symposium will shed light on numerous aspects of mobility including sociopolitical issues and the challenges posed by design and technology.Produced jointly by Ars Electronica and the ÖBB–Austrian Federal Railways.</description>
			<time-start>1500</time-start>
			<time-finish>1830</time-finish>
			<date>3</date>
			<location>Bau 2 EG</location>
			<id>105</id>
		</event>
		<event>
			<name>Doing the right thing</name>
			<description>The important thing is getting the ball rolling—recognizing problems, defining them, and seeking solutions and alternatives which, after all, one can find almost anywhere.</description>
			<time-start>1030</time-start>
			<time-finish>1230</time-finish>
			<date>6</date>
			<location>Bau 2 EG</location>
			<id>106</id>
		</event>
	</category>
</events>